body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.stars-tile {
  width: 30%;
  float: left;
}

.answers-tile {
  width: 60%;
  float: left;
}

.button-tile {
  width: 10%;
  float: left;
  text-align: center;
}

.star {
  padding: 15px;
  font-size: 40px;
  cursor: pointer;
  border: 1px solid #cccccc;
}
