body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.stars-tile {
  width: 30%;
  float: left;
  height: 250px;
  padding: 20px;
}

.answers-tile {
  width: 60%;
  float: left;
  height: 250px;
}

.button-tile {
  width: 10%;
  float: left;
  text-align: center;
  height: 250px;
  line-height: 250px;
}

.star {
  margin: 15px;
  font-size: 40px;
}

.number-div {
  margin: 20px;
  display: inline-block;
  background-color: #bbb;
  padding: 15px;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
  border-color: #666666;
}
