body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  min-width: 1024px;
}

.stars-tile {
  width: 30%;
  float: left;
  height: 250px;
  padding: 20px;
}

.answers-tile {
  width: 60%;
  float: left;
  height: 250px;
}

.button-tile {
  width: 10%;
  float: left;
  text-align: center;
  height: 250px;
  padding-top:5%;
}

.star {
  margin: 15px;
  font-size: 40px;
}

.number-div,
.selected-number {
  margin: 20px;
  display: inline-block;
  background-color: #bbb;
  padding: 15px;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
  border-color: #666666;
}

.number-selected {
  background-color: #fafafa;
  color: #cccccc;
  border: 1px solid #bbbbbb;
  cursor: default;
}

.used-number{
  color: #008000;
  background-color: lightgreen;
}